<div class="card">
    <div class="card-body" style="background-color: #CBE5FE">
        <form class="col-md-12">
            <div class="col-md-12" style="margin-top: 10%; margin-bottom: 50px" align="center" >
                <img  src="../../../assets/img/dogaoTelaPrincipal.png" style="height: 200px; margin-top: -133px">
            </div>
            <h2 class="titulo">Lista de cuidadores</h2>
            <br>
            <div  align="center">
                <div class="col-md-3"></div>
                <div class="col-md-6 row cuidadorListado">
                    <div class="col-md-7" style="margin: auto">
                        Alexandre
                    </div>
                    <div class="col-md-5 row">
                        <input type="button" class="col-md-4 sizeLinha carta">
                        <input type="button" class="col-md-4 sizeLinha user">
                        <input type="button" class="col-md-4 sizeLinha contratar">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div  align="center">
                <div class="col-md-3"></div>
                <div class="col-md-6 row cuidadorListado">
                    <div class="col-md-7" style="margin: auto">
                        Felipe
                    </div>
                    <div class="col-md-5 row">
                        <input type="button" class="col-md-4 sizeLinha carta">
                        <input type="button" class="col-md-4 sizeLinha user">
                        <input type="button" class="col-md-4 sizeLinha contratar">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div  align="center">
                <div class="col-md-3"></div>
                <div class="col-md-6 row cuidadorListado">
                    <div class="col-md-7" style="margin: auto">
                        Gabriel
                    </div>
                    <div class="col-md-5 row">
                        <input type="button" class="col-md-4 sizeLinha carta">
                        <input type="button" class="col-md-4 sizeLinha user">
                        <input type="button" class="col-md-4 sizeLinha contratar">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div  align="center">
                <div class="col-md-3"></div>
                <div class="col-md-6 row cuidadorListado">
                    <div class="col-md-7" style="margin: auto">
                        Marco
                    </div>
                    <div class="col-md-5 row">
                        <input type="button" class="col-md-4 sizeLinha carta">
                        <input type="button" class="col-md-4 sizeLinha user">
                        <input type="button" class="col-md-4 sizeLinha contratar">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div  align="center">
                <div class="col-md-3"></div>
                <div class="col-md-6 row cuidadorListado">
                    <div class="col-md-7" style="margin: auto">
                        Pablo
                    </div>
                    <div class="col-md-5 row">
                        <input type="button" class="col-md-4 sizeLinha carta">
                        <input type="button" class="col-md-4 sizeLinha user">
                        <input type="button" class="col-md-4 sizeLinha contratar">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div  align="center">
                <div class="col-md-3"></div>
                <div class="col-md-6 row cuidadorListado">
                    <div class="col-md-7" style="margin: auto">
                        Carolinazinha
                    </div>
                    <div class="col-md-5 row">
                        <input type="button" class="col-md-4 sizeLinha carta">
                        <input type="button" class="col-md-4 sizeLinha user">
                        <input type="button" class="col-md-4 sizeLinha contratar">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div  align="center">
                <div class="col-md-3"></div>
                <div class="col-md-6 row cuidadorListado">
                    <div class="col-md-7" style="margin: auto">
                        Fulaninho
                    </div>
                    <div class="col-md-5 row">
                        <input type="button" class="col-md-4 sizeLinha carta">
                        <input type="button" class="col-md-4 sizeLinha user">
                        <input type="button" class="col-md-4 sizeLinha contratar">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div  align="center">
                <div class="col-md-3"></div>
                <div class="col-md-6 row cuidadorListado">
                    <div class="col-md-7" style="margin: auto">
                        Ciclaninho
                    </div>
                    <div class="col-md-5 row">
                        <input type="button" class="col-md-4 sizeLinha carta">
                        <input type="button" class="col-md-4 sizeLinha user">
                        <input type="button" class="col-md-4 sizeLinha contratar">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div  align="center">
                <div class="col-md-3"></div>
                <div class="col-md-6 row cuidadorListado">
                    <div class="col-md-7" style="margin: auto">
                        Beautraninho
                    </div>
                    <div class="col-md-5 row">
                        <input type="button" class="col-md-4 sizeLinha carta">
                        <input type="button" class="col-md-4 sizeLinha user">
                        <input type="button" class="col-md-4 sizeLinha contratar">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>
</div>

