.sizeLinha{
    height: 50px;
}

.carta{
    width: 50px;
    height: 50px;
    background: url("../../../assets/img/carta.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.user{
    width: 50px;
    height: 50px;
    background: url("../../../assets/img/userIcon.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.contratar{
    width: 50px;
    height: 50px;
    background: url("../../../assets/img/contratarButton.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.cuidadorListado{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: white;
}

.titulo{
    text-align: center;
    padding: 25px;
    padding-bottom: 0px;
}

