.logout{
    width: 50px;
    height: 50px;
    background: url("../../../assets/img/logoutIcon.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.user{
    width: 50px;
    height: 50px;
    background: url("../../../assets/img/userIcon.png") no-repeat;
    background-size: cover;
    background-position: center;
}

