<div style="background-color: #CBE5FE">
    <form>
        <div class="col-md-12" style="margin-top: 2%;" align="center">
            <h2 class="titulo">Editando perfil de cliente</h2>
            <br>
            <img src="../../../assets/img/trocarFoto.png" style="height: 120px; margin-bottom: 25px;" align="center">
            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <input class="col-md-5" placeholder="Nome">
                <div class="col-md-2"></div>
                <input class="col-md-5" placeholder="Sobrenome">
            </div>
            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <input class="col-md-5" placeholder="CEP">
                <div class="col-md-2"></div>
                <input class="col-md-5" placeholder="Rua">
            </div>
            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <input class="col-md-5" placeholder="Numero">
                <div class="col-md-2"></div>
                <input class="col-md-5" placeholder="Complemento">
            </div>
            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <input class="col-md-5" placeholder="Bairro">
                <div class="col-md-2"></div>
                <input class="col-md-5" placeholder="Cidade">
            </div>

            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <a class="col-md-5" href="#/home" style="padding-left: 0px; padding-right: 0px">
                    <button type="button" href="#/home" style="background-color: #bfc5c9" class="btn form-control">
                        Voltar
                    </button>
                </a>
                <div class="col-md-2"></div>
                <button type="button" (click)="onSubmit()" class="btn btn-primary form-control col-md-5">Salvar
                    Alterações<img src="../../../assets/img/pata.png" style="height:30px; margin-top: -5px"></button>
            </div>
        </div>
    </form>
</div>
