<div style="background-color: #CBE5FE">
    <form>
        <div class="col-md-12" style="  margin-top: 2%;" align="center">
            <h2 class="titulo">Denunciar abuso</h2>
            <div class="col-md-12" style="margin-bottom: 25px;" align="center">
                <p style="font-size: 25px">Algum usuário fez algo que você não gostou? Selecione-o abaixo</p>
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;" align="center">
                <ng-select class="col-md-4"
                           [items]="usuarios"
                           bindLabel="name"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           [multiple]="false"
                           appendTo="body">
                </ng-select>
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;" align="center">
                <p style="font-size: 25px">Descrição do problema</p>
            </div>
            <div class="col-md-4" style="margin-bottom: 25px;" align="center">
                <input class="form-control" placeholder="Problema*">
            </div>
            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <a class="col-md-5" href="#/home" style="padding-left: 0px; padding-right: 0px">
                    <button type="button" href="#/home" style="background-color: #bfc5c9" class="btn form-control">
                        Voltar
                    </button>
                </a>
                <div class="col-md-2"></div>
                <button type="button" (click)="onSubmit()" class="btn btn-primary form-control col-md-5">
                    Enviar
                    <img src="../../../assets/img/pata.png" style="height:30px; margin-top: -5px">
                </button>
            </div>
        </div>
    </form>
</div>
