<div style="background-color: #CBE5FE;">
    <form [formGroup]="registerForm">
        <div class="col-md-12" style="margin-top: 2%;" align="center">
            <img src="../../../assets/img/logo.png" style="height: 200px">
        </div>
        <h2 class="titulo">Recuperar senha</h2>
        <div class="col-md-12" style="margin-top: 5%;" align="center">
            <textarea class="form-control col-md-7" style="text-align: center; padding-left: 0px; padding-top: 30px; resize: none; background-color: #f0f3f5; color: black; overflow-x: hidden; overflow-y: hidden" readonly>
                Para recuperar sua senha, informe seu email abaixo assim enviaremos um email com instruções.
            </textarea>
        </div>
        <div class="col-md-12" style="margin-top: 3%" align="center">
            <input formControlName="email" class="form-control col-md-3" maxlength="50" placeholder="Email" [(ngModel)]="usuario.email"
                   name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email é requerido!</div>
                <div *ngIf="f.email.errors.email">Endereço de e-mail inválido</div>
            </div>
        </div>
        <div class="col-md-12 row" align="center" style="margin-top: 2%">
            <div class="col-md-6 row">
                <button type="button" style="background-color: #bfc5c9; margin-left: 56%;"
                        (click)="voltar()" class="btn form-control col-md-6">
                    Voltar
                </button>
            </div>
            <div class="col-md-6 row" style="margin-left: 3%;">
                <button type="button" (click)="onSubmit()" class="btn btn-primary form-control col-md-6">Cadastrar <img
                        src="../../../assets/img/pata.png" style="height:30px; margin-top: -5px"></button>
            </div>
        </div>
    </form>
</div>
