<div style="background-color: #CBE5FE">
    <form [formGroup]="registerForm">
        <div class="col-md-12" style="margin-top: 2%;" align="center">
            <img src="../../../assets/img/logo.png" style="height: 200px">
        </div>
        <h2 class="titulo">Cadastrar</h2>
        <div class="col-md-12 row" style="margin-top: 4%" align="center">
            <div class="col-md-12" style=" margin-left: 1%">
                <input type="text" formControlName="nome" class="form-control col-md-6" placeholder="Nome completo*"
                       [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" style="height: 40px;">
                <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
                    <div *ngIf="f.nome.errors.required">Nome é requerido!</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row" align="center">
            <div class="col-md-12" style="margin-top: 2%; margin-left: 1%">
                <input type="text" formControlName="email" [(ngModel)]="usuario.email" placeholder="Email*"
                       class="form-control col-md-6" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email é requerido!</div>
                    <div *ngIf="f.email.errors.email">Endereço de e-mail inválido</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row" align="center">
            <div class="col-md-6 row" style="margin-top: 2%">
                <input type="password" formControlName="password" style="margin-left: 56%; height: 40px;"
                       placeholder="Senha*"
                       class="form-control col-md-6" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback" style="margin-left: 60%;">
                    <div *ngIf="f.password.errors.required">Senha é requirida!</div>
                    <div *ngIf="f.password.errors.minlength">A senha deverá conter no mínimo 6 caracteres!</div>
                </div>
            </div>
            <div class="col-md-6 row" style="margin-top: 2%; margin-left: 3%;">
                <input type="password" formControlName="confirmPassword" class="form-control col-md-6"
                       placeholder="Confirmar senha*" style="height: 40px;"
                       [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback"
                     style="margin-right: 50%">
                    <div *ngIf="f.confirmPassword.errors.required">Confirmação da senha é requirida!</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Senha incompatível!</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row" align="center">
            <div class="col-md-6 row" style="margin-top: 2%">
                <input [dropSpecialCharacters]="false" mask="000.000.000-00" style="margin-left: 56%; height: 40px;"
                       type="text" formControlName="cpf" class="form-control col-md-6" placeholder="CPF*"
                       [ngClass]="{ 'is-invalid': submitted && f.cpf.errors }"/>
                <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback" style="margin-left: 60%;">
                    <div *ngIf="f.cpf.errors.required">CPF é requerido!</div>
                    <div *ngIf="f.cpf.errors.minlength">CPF inválido</div>
                </div>
            </div>
            <div class="col-md-6 row" style="margin-top: 2%;  margin-left: 3%;">
                <input formControlName="data_nascimento" type="text" style="height: 40px;"
                       class="form-control col-md-6" placeholder="Data de nascimento*" max="{{data}}"
                       min="1900-01-01" onfocus="(this.type='date', this.class='form-control col-md-6')"
                       [ngClass]="{ 'is-invalid': submitted && f.data_nascimento.errors }"/>
                <div *ngIf="submitted && f.data_nascimento.errors" class="invalid-feedback"
                     style="margin-right: 50%">
                    <div *ngIf="f.data_nascimento.errors.required">Data de nascimento é requerida!</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row" align="center">
            <div class="col-md-6 row" style="margin-top: 2%">
                <input [dropSpecialCharacters]="false" mask="(00) 00000-0000" type="text" formControlName="celular"
                       class="form-control col-md-6" placeholder="(DDD) Celular*"
                       style="margin-left: 56%; height: 40px;"
                       [ngClass]="{ 'is-invalid': submitted && f.celular.errors }"/>
                <div *ngIf="submitted && f.celular.errors" class="invalid-feedback" style="margin-left: 60%;">
                    <div *ngIf="f.celular.errors.required">Número do celular é requerido!</div>
                    <div *ngIf="f.celular.errors.minlength">Numero de celular inválido</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row" align="center" style="margin-top: 2%">
            <div class="col-md-6 row">
                <button type="button" style="background-color: #bfc5c9; margin-left: 56%;"
                       (click)="voltar()" class="btn form-control col-md-6">
                    Voltar
                </button>
            </div>
            <div class="col-md-6 row" style="margin-left: 3%;">
                <button type="button" (click)="onSubmit()" class="btn btn-primary form-control col-md-6">Cadastrar <img
                        src="../../../assets/img/pata.png" style="height:30px; margin-top: -5px"></button>
            </div>
        </div>
    </form>
</div>
