<div style="background-color: #CBE5FE">
    <form>
        <div class="col-md-12" style="  margin-top: 2%;" align="center">
            <h2 class="titulo">Configurações</h2>
            <br>
            <div class="col-md-12" style="margin-bottom: 25px;" align="center">
                <p style="font-size: 25px">Cliente</p>
                <div class="col-md-12 row">
                    <div class="col-md-12" style="margin-bottom: 25px;">
                        <input type="checkbox" style="margin-top: 3px">    Exibir normalmente os cuidadores
                    </div>
                    <div class="col-md-12" style="margin-bottom: 25px;">
                        <input type="checkbox" style="margin-top: 3px">    Exibir apenas cuidadores mais próximos de mim
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;" align="center">
                <p style="font-size: 25px">Cuidador</p>
                <div class="col-md-12 row">
                    <div class="col-md-12" style="margin-bottom: 25px;">
                        <input type="checkbox" style="margin-top: 3px">    Exibir normalmente os clientes
                    </div>
                    <div class="col-md-12" style="margin-bottom: 25px;">
                        <input type="checkbox" style="margin-top: 3px">    Exibir apenas clientes mais próximos de mim
                    </div>
                </div>
            </div>
            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <a class="col-md-5" href="#/home" style="padding-left: 0px; padding-right: 0px">
                    <button type="button" href="#/home" style="background-color: #bfc5c9" class="btn form-control">
                        Voltar
                    </button>
                </a>
                <div class="col-md-2"></div>
                <button type="button" class="btn btn-primary form-control col-md-5">
                    Salvar
                    <img src="../../../assets/img/pata.png" style="height:30px; margin-top: -5px">
                </button>
            </div>
        </div>
    </form>
</div>
