<div style="background-color: #CBE5FE">
  <form [formGroup]="registerForm">
    <div class="col-md-12" style="margin-top: 5%;" align="center">
      <img  src="../../../assets/img/logo.png" style="height: 200px">
    </div>
    <div class="col-md-12" style="margin-top: 3%;" align="center">
      <h1 style="color: #008CFF">Login</h1>
    </div>
    <div class="col-md-12" align="center">
      <div class="col-md-3" style="margin-top: 25px" id="a">
        <input formControlName="email" class="form-control" placeholder="Email" [(ngModel)]="usuario.email"
               name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors}"/>
        <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
          <div *ngIf="f.email.errors.required" style="font-size: 20px">Email é requerido!</div>
          <div *ngIf="f.email.errors.email" style="font-size: 20px">Endereço de e-mail inválido</div>
        </div>
      </div>
    </div>
    <div class="col-md-12" align="center">
      <div class="col-md-3" style="margin-top: 2%;">
        <input type="password" formControlName="senha"
               class="form-control" placeholder="Senha" [(ngModel)]="usuario.senha" name="senha"
               [ngClass]="{ 'is-invalid': submitted && f.senha.errors }"/>
        <div *ngIf="submitted && f.senha.errors" class="invalid-feedback">
          <div *ngIf="f.senha.errors.required" style="font-size: 20px">Senha é requirida!</div>
          <div *ngIf="f.senha.errors.minlength" style="font-size: 20px">A senha contém no mínimo 6 caracteres!</div>
        </div>
      </div>
    </div>
    <div class="col-md-12" align="center">
      <div class="col-md-3" style="margin-top: 2%;">
        <button type="button" class="btn btn-primary form-control" (click)="onSubmit()">Entrar <img src="../../../assets/img/pata.png" style="height:30px; margin-top: -5px"></button>
      </div>
    </div>
    <div class="col-md-12" align="center">
      <div class="col-md-3" style="margin-top: 1%;">
        <a href="#/cadastro">Inscrever-se</a>
      </div>
    </div>
    <div class="col-md-12" align="center">
      <div class="col-md-3" style="margin-top: 1%;" >
        <a href="#/recuperar-senha">Esqueceu a senha?</a>
      </div>
    </div>
    <div class="col-md-12 row" align="center">
      <div class="col-md-7 row" style="margin-top: 2%; padding-left: 200px;">
        <div style="margin-left: 77%">
          <a href="https://www.google.com" target="_blank"><img style="height: 30px; width: 40px" src="../../../assets/img/Google.jpg"></a>
        </div>
      </div>
      <div class="col-md-1 row" style="margin-top: 2%; margin-left: -60px">
        <a href="https://www.facebook.com" target="_blank"><img style="height: 30px" src="../../../assets/img/facebook.png"></a>
      </div>
    </div>
  </form>
</div>
