<div style="background-color: #CBE5FE">
    <form>
        <div class="col-md-12" style="  margin-top: 2%;" align="center">
            <h2 class="titulo">Cadastrar animal</h2>
            <br>
            <div class="col-md-12" style="margin-bottom: 25px;" align="center">
                <input class="col-md-5 form-control" placeholder="Nome do Animal*">
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;" align="center">
                <input class="col-md-5 form-control" placeholder="Idade*">
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;" align="center">
                <input class="col-md-5 form-control" placeholder="Comportamento (calmo, assustado, briguento)*">
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;" align="center">
                <input class="col-md-5 form-control" placeholder="Raça*">
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;" align="center">
                <p style="font-size: 25px">Vacinas</p>
                <div class="col-md-12 row">
                    <div class="col-md-2 row" style="margin-bottom: 25px; margin-left: 40%">
                        <input type="checkbox" style="margin-top: 3px">Cinomose
                    </div>
                    <div class="col-md-2 row">
                        <input type="checkbox" style="margin-top: 3px">Parvovírus
                    </div>
                </div>
                <div class="col-md-12 row">
                    <div class="col-md-2 row" style="margin-bottom: 25px; margin-left: 40%">
                        <input type="checkbox" style="margin-top: 3px">Tosse dos canis
                    </div>
                    <div class="col-md-2 row">
                        <input type="checkbox" style="margin-top: 3px">Hepatite
                    </div>
                </div>
                <div class="col-md-12 row">
                    <div class="col-md-2 row" style="margin-bottom: 25px; margin-left: 40%">
                        <input type="checkbox" style="margin-top: 3px">Leptospirose
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;" align="center">
                <input class="col-md-5 form-control" placeholder="Outras vacinas*">
            </div>
            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <a class="col-md-5" href="#/home" style="padding-left: 0px; padding-right: 0px">
                    <button type="button" href="#/home" style="background-color: #bfc5c9" class="btn form-control">
                        Voltar
                    </button>
                </a>
                <div class="col-md-2"></div>
                <button type="button" (click)="onSubmit()" class="btn btn-primary form-control col-md-5">
                    Cadastrar
                    <img src="../../../assets/img/pata.png" style="height:30px; margin-top: -5px">
                </button>
            </div>
        </div>
    </form>
</div>
