<div style="background-color: #D5E8D4">
    <form>
        <div class="col-md-12" style="margin-top: 2%;" align="center">
            <h2 class="titulo">Editando perfil de cuidador</h2>
            <br>
            <img src="../../../assets/img/trocarFoto.png" style="height: 120px; margin-bottom: 25px;" align="center">
            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <input class="col-md-5" placeholder="Nome">
                <div class="col-md-2"></div>
                <input class="col-md-5" placeholder="Sobrenome">
            </div>
            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <input class="col-md-5" placeholder="CEP">
                <div class="col-md-2"></div>
                <input class="col-md-5" placeholder="Rua">
            </div>
            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <input class="col-md-5" placeholder="Numero">
                <div class="col-md-2"></div>
                <input class="col-md-5" placeholder="Complemento">
            </div>
            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <input class="col-md-5" placeholder="Bairro">
                <div class="col-md-2"></div>
                <input class="col-md-5" placeholder="Cidade">
            </div>
            <div class="col-md-5 row" style="margin-bottom: 25px;" align="center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    Alterar Serviços
                        <table style="border: 1px solid black; background-color: white">
                            <tbody>
                            <tr>
                                <td>
                                    <input type='button' style="border-color: black; border-width: 1px; margin: 10px;"
                                           class="btn btn-secondary" value='-' title='Remover' />
                                </td>
                                <td><p style="margin: 10px;">Banho</p></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type='button' style="border-color: black; border-width: 1px; margin: 10px;"
                                           class="btn btn-secondary" value='-' title='Remover' />
                                </td>
                                <td><p style="margin: 10px;">Passeio</p></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type='button' style="border-color: black; border-width: 1px; margin: 10px;"
                                           class="btn btn-secondary" value='-' title='Remover' />
                                </td>
                                <td><p style="margin: 10px;">Cuidar</p></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <input type='button' style="border-color: black; border-width: 1px; margin: 10px;"
                                           class="btn btn-primary" value='+' title='Adicionar novo serviço' />
                                </td>
                            </tr>
                            </tbody>
                        </table>

                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-5 row" style="margin-bottom: 25px;">
                <a class="col-md-5" href="#/home" style="padding-left: 0px; padding-right: 0px">
                    <button type="button" href="#/home" style="background-color: #bfc5c9" class="btn form-control">
                        Voltar
                    </button>
                </a>
                <div class="col-md-2"></div>
                <button type="button" (click)="onSubmit()" class="btn btn-primary form-control col-md-5">Salvar
                    Alterações<img src="../../../assets/img/pata.png" style="height:30px; margin-top: -5px"></button>
            </div>
        </div>
    </form>
</div>
